<%= render 'logo' %>

<div class=message>
<% if flash[:error] %>
  <%flash[:error].each do |message|%>
    <%= message %></br>
  <% end %>
<% else %>
Welcome Back!
<% end %>
</div>

<div class=form_class>
<%= render 'form' %>
</div>

<% if flash[:error] %>
<div class="sign_up_error"><%= link_to "Sign Up", signup_path, { class: "sign_up_error" } %></span>
<% end %>
