 <%= render 'lil_logo' %>
 <%= render 'menu' %>
 <%= render 'comments' %>

 <div class='content'>
Movie Title and image

discussion box all comments relating to movie from all of your group_path
     OR
     A form avaiable to create a new post with group selector
 </div>
