<div class='movie_friends'>
  <div class='i_left'>
    i
  </div>
  <div class='i_right'>
    i
  </div>
  <div class='movie'>
    <span class='purple'>M</span><span class='o_class'>O</span><span class='red'>V</span><span class='green'>I</span><span class='orange'>e</span>
  </div>
  <div class='friends'>
    <span class='blue'>F</span><span class='red'>R</span><span class='orange'>i</span><span class='green'>E</span><span class='purple'>N</span><span class='blue'>D</span><span class='yellow'>s</span>
  </div>
</div>
