<div class="menu">
  <%= link_to "Home", home_path, id: 'menu_home'%> |
  <%= link_to "Movies", movies_path, id: 'menu_movies'%> |
  <%= link_to "Groups", groups_path, id: 'menu_groups' %> |
  <%= link_to "Sign Out", logout_path, id: 'menu_signout' %>
</div>
