<!-- congratulations you fucking did it you logged in
<%= link_to "Logout", logout_path %> -->

<div class=lil_logo_container>
<div class=lil_logo>
<%= render 'logo' %>
</div>
</div>






<div class=all_comments>
    <%= grow_tree_for @comments %>
</div>
