<%= render 'logo' %>
<div class = "welcome_links">
<span class="sign_in"><%= link_to "Sign In", login_path, { class: "welcome" } %></span>&emsp;&emsp;
&emsp;&emsp;<span class="sign_up"><%= link_to "Sign Up", signup_path, { class: "welcome" } %></span>
</div>
