<%= render 'logo' %>
<div class = "links">
<span class="sign_in"><%= link_to "Sign In", login_path %></span>&emsp;&emsp;
&emsp;&emsp;<span class="sign_up"><%= link_to "Sign Up", signup_path %></span>
</div>
