/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* FONTS */
/* font-family: 'Slackey', cursive;
font-family: 'Raleway', sans-serif; */

/* DARK BLUE #2d3750
DARKEST BLUE #202940 */

html {
  height:100%;
  background-color: #2d3750;
  background: linear-gradient(#2d3750, #202940);
  background-attachment: fixed;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
}


.movie_friends {
  font-family: 'Slackey', cursive;
  float: center;
  margin: auto;
  width: 65vmin;
  height: auto;
  position: relative;
  padding-top: 7vmin;
  padding-bottom: 3.5vmin;
  // transform: translate(-50%, -50%);
  // transform-origin: center center;
}

.i_left {
  position: absolute;
  top: 5.6vmin;
  left: 21vmin;
  font-family: 'Slackey', cursive;
  color: #fff79f;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: rotate(-15deg) scale(-1, 1);
  font-size: 7.8vmin;
  z-index: 1;
  background: url(image-path('color_title.gif')) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.i_right {
  position: absolute;
  top: 6.5vmin;
  left: 26vmin;
  font-family: 'Slackey', cursive;
  font-size: 6.3vmin;
  color: #fff79f;
  z-index: 1;
  transform: rotate(20deg);
  background: url(image-path('color_title.gif')) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.movie {
  padding:0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  float: inherit;
  // font-size: 120px;
  font-size: 17vmin;
  position: relative;
  z-index: 2;
}

.friends {
  padding:0;
  margin-left: 0;
  margin-right: 0;
  margin-top: -12%;
  margin-bottom: 0;
  float: inherit;
  // font-size: 95px;
  font-size: 13.45vmin;
}

.purple {
  color: #a3a1d0;
}

.purple:hover {
  color: #fff79f;
}

.o_class {
  color: #fff79f;
  background: url(image-path('color_title.gif')) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow {
  color: #fff79f;
}

.yellow:hover {
  color: #a3a1d0;
}

.red {
  color: #dd647a;
}

.red:hover {
  color: #a4be88;
}

.green {
  color: #a4be88;
}

.green:hover {
  color: #dd647a;
}

.orange {
  color: #faae71;
}

.orange:hover {
  color: #8aaad9;
}

.blue {
  color: #8aaad9;
}

.blue:hover {
  color: #faae71;
}

.message {
  text-align: center;
  color: white;
  font-size: 3.5vmin;
  float: center;
  margin: auto;
  width: 65vmin;
  padding-bottom: 5vmin;
  padding-top: 1.4vmin;
}

.form_class {
  text-align: center;
  float: center;
  margin: auto;
  width: 58vmin;
}

input.session {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 3vmin;
  background-color: white;
  border-width: 0;
  width: 40vmin;
  height: 5.5vmin;
}

input[type=submit].session {
  background-color: transparent;
  font-family: 'Slackey', cursive;
  font-size: 4.5vmin;
  color: white;
  border-width: 0px;
  position: relative;
  z-index: 9;
  height: 15vmin;
}

input[type=submit]:hover.session {
  color: #fff79f;
  // background: url(image-path('color_link.gif')) no-repeat;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.welcome_links {
  text-align: center;
  float: center;
  margin: auto;
  width: 81vmin;
  padding-top: 4.2vmin;
}

a.welcome, a:visited.welcome {
  font-family: 'Slackey', cursive;
  font-size: 7.5vmin;
  color: white;
  text-decoration: none;
}

// .sign_up:hover {
//   background: url(image-path('color_link.gif'));
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.sign_up_error {
  text-align: center;
  float: center;
  margin: auto;
  width: 58vmin;
  font-family: 'Slackey', cursive;
  font-size: 4.5vmin;
  text-decoration: none;
}

a.welcome:hover {
  color: #fff79f;
}

a, a:visited {
  color: white;
}

a:hover {
  color: #fff79f;
}

a.comment_link, a.comment_link:visited {
  color: black;
}

a.comment_link:hover {
  color: #dd647a;
}

.all_comments {
  position: absolute;
  right: 2vmin;
  overflow: auto;
  width: 65%;
}

.comment {
  background-color: white;
  color: black;
  padding: 10px;
  padding-left: 50px;
  position: relative;
  overflow: auto;
}

.comment_rating {
  font-family: 'Slackey', cursive;
  font-size: 20px;
  float: left;
  text-align: center;
  position: absolute;
  left: 0;
  width: 50px;
}

.comment_content {
  float: left;
  text-align: justify;
}

.comment_info {
  font-size: 8pt;
  color: grey;
  position: relative;
  top: 5px;
}

.lil_logo {
  transform: scale(.50);
  position: relative;
  top: -12.5vmin;
  left: -2.5vmin;
}

.lil_logo_container {
  position: fixed;
  width: 32%;
}
