/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* FONTS */
/* font-family: 'Slackey', cursive;
font-family: 'Raleway', sans-serif; */

/* DARK BLUE #2d3750
DARKEST BLUE #202940 */

body {
  color: white;
  font-size: 20pt;
}


.movie_friends {
  font-family: 'Slackey', cursive;
  float: center;
  margin: auto;
  width: 465px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 25px;
}

.i_left {
  position: absolute;
  top: 40px;
  left: 150px;
  font-family: 'Slackey', cursive;
  color: #fff79f;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: rotate(-15deg) scale(-1, 1);
  font-size: 55px;
  z-index: 1;
  background: url(image-path('color_title.gif')) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.i_right {
  position: absolute;
  top: 47px;
  left: 185px;
  font-family: 'Slackey', cursive;
  font-size: 45px;
  color: #fff79f;
  z-index: 1;
  transform: rotate(20deg);
  background: url(image-path('color_title.gif')) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.movie {
  padding:0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  float: inherit;
  font-size: 120px;
  position: relative;
  z-index: 2;
}

.friends {
  padding:0;
  margin-left: 0;
  margin-right: 0;
  margin-top: -12%;
  margin-bottom: 0;
  float: inherit;
  font-size: 95px;
}

.purple {
  color: #a3a1d0;
}

.purple:hover {
  color: #fff79f;
}

.o_class {
  color: #fff79f;
  background: url(image-path('color_title.gif')) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow {
  color: #fff79f;
}

.yellow:hover {
  color: #a3a1d0;
}

.red {
  color: #dd647a;
}

.red:hover {
  color: #a4be88;
}

.green {
  color: #a4be88;
}

.green:hover {
  color: #dd647a;
}

.orange {
  color: #faae71;
}

.orange:hover {
  color: #8aaad9;
}

.blue {
  color: #8aaad9;
}

.blue:hover {
  color: #faae71;
}

.message {
  text-align: center;
  float: center;
  margin: auto;
  width: 465px;
  padding-bottom: 35px;
  padding-top: 10px;
}

.form_class {
  text-align: center;
  float: center;
  margin: auto;
  width: 415px;
}

input {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 15pt;
  background-color: white;
  border-color: black;
  border-width: 1px;
  width: 300px;
  height: 40px;
}

input[type=submit] {
  background-color: transparent;
  font-family: 'Slackey', cursive;
  font-size: 30pt;
  color: white;
  border-width: 0px;
  position: relative;
  z-index: 9;
  height: 60px;
}

input[type=submit]:hover {
  color: #fff79f;
  // background: url(image-path('color_link.gif')) no-repeat;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
